<div class="card p-4 shadow-md rounded-xl bg-white">
  <p-table
    #dt1
    [value]="policies"
    [globalFilterFields]="[
      'id',
      'title',
      'description',
      'policyType',
      'companyId',
      'createdOn',
      'createdBy',
      'updatedOn',
      'updatedBy',
      'deletedOn',
      'deletedBy',
      'remark'
    ]"
    [paginator]="true"
    dataKey="id"
    [rows]="8"
    [rowsPerPageOptions]="[8, 15, 30]"
    class="p-datatable-striped p-datatable-gridlines w-full"
  >
    <ng-template #caption>
      <div class="flex items-center justify-between mb-3">
        <p-button
          icon="pi pi-plus"
          label="Create"
          routerLink="entry"
          class="p-button-primary"
        >
        </p-button>

        <p-iconfield
          icon="pi pi-check"
          iconPosition="left"
          class="w-80 mt-2 sm:mt-0"
        >
          <input
            pInputText
            type="text"
            (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
            placeholder="       Search keyword"
            class="p-inputtext w-full border rounded-lg px-3 py-2"
          />
        </p-iconfield>
      </div>
    </ng-template>

    <ng-template #header>
      <tr class="bg-gray-100">
        <th pSortableColumn="id">
          ID
          <p-sortIcon field="id" />
        </th>
        <th pSortableColumn="title">
          Title
          <p-sortIcon field="title" />
        </th>
        <th pSortableColumn="description">
          description
          <p-sortIcon field="description" />
        </th>
        <th pSortableColumn="policyType">
          Policy Type
          <p-sortIcon field="policyType" />
        </th>
        <th pSortableColumn="companyId">
          Company ID
          <p-sortIcon field="companyId" />
        </th>
        <th pSortableColumn="createdOn">
          Created On
          <p-sortIcon field="createdOn" />
        </th>
        <th pSortableColumn="createdBy">
          Created By
          <p-sortIcon field="createdBy" />
        </th>
        <th pSortableColumn="updatedOn">
          Updated On
          <p-sortIcon field="updatedOn" />
        </th>
        <th pSortableColumn="updatedBy">
          Updated By
          <p-sortIcon field="updatedBy" />
        </th>
        <th pSortableColumn="deletedOn">
          Deleted On
          <p-sortIcon field="deletedOn" />
        </th>
        <th pSortableColumn="deletedBy">
          Deleted By
          <p-sortIcon field="deletedBy" />
        </th>
        <th pSortableColumn="remark">
          Remark
          <p-sortIcon field="remark" />
        </th>
        <th>Action</th>
      </tr>
      <tr>
        <th>
          <p-columnFilter
            type="text"
            field="id"
            placeholder="Search by ID"
            ariaLabel="Filter ID"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="title"
            placeholder="Search by title"
            ariaLabel="Filter title"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="description"
            placeholder="Search by description"
            ariaLabel="Filter description"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="policyType"
            placeholder="Search by policyType"
            ariaLabel="Filter policyType"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="companyId"
            placeholder="Search by companyId"
            ariaLabel="Filter companyId"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="createdOn"
            placeholder="Search by createdOn"
            ariaLabel="Filter createdOn"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="createdBy"
            placeholder="Search by createdBy"
            ariaLabel="Filter createdBy"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="updatedOn"
            placeholder="Search by updatedOn"
            ariaLabel="Filter updatedOn"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="updatedBy"
            placeholder="Search by updatedBy"
            ariaLabel="Filter updatedBy"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="deletedOn"
            placeholder="Search by deletedOn"
            ariaLabel="Filter deletedOn"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="deletedBy"
            placeholder="Search by deletedBy"
            ariaLabel="Filter deletedBy"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="remark"
            placeholder="Search by remark"
            ariaLabel="Filter remark"
          ></p-columnFilter>
        </th>
      </tr>
    </ng-template>

    <ng-template #body let-policy>
      <tr class="hover:bg-gray-50 transition odd:bg-white even:bg-slate-50">
        <td>{{ policy.id }}</td>
        <td>{{ policy.title }}</td>
        <td>{{ policy.description }}</td>
        <td>{{ policy.policyType }}</td>
        <td>{{ policy.companyId }}</td>
        <td>{{ policy.createdOn }}</td>
        <td>{{ policy.createdBy }}</td>
        <td>{{ policy.updatedOn }}</td>
        <td>{{ policy.updatedBy }}</td>
        <td>{{ policy.deletedOn }}</td>
        <td>{{ policy.deletedBy }}</td>
        <td>{{ policy.remark }}</td>
        <td>
          <p-button variant="text" (onClick)="update(policy)">Edit</p-button>

          <p-toast />
          <p-confirmdialog #cd>
            <ng-template
              #headless
              let-message
              let-onAccept="onAccept"
              let-onReject="onReject"
            >
              <div
                class="flex flex-col items-center p-8 bg-surface-0 dark:bg-surface-900 rounded"
              >
                <div
                  class="rounded-full bg-primary text-primary-contrast inline-flex justify-center items-center h-24 w-24 -mt-20"
                >
                  <i class="pi pi-question !text-5xl"></i>
                </div>
                <span class="font-bold text-2xl block mb-2 mt-6">{{
                  message.header
                }}</span>
                <p class="mb-0">{{ message.message }}</p>
                <div class="flex items-center gap-2 mt-6">
                  <p-button
                    label="Save"
                    (onClick)="onAccept()"
                    styleClass="w-32"
                  ></p-button>
                  <p-button
                    label="Cancel"
                    [outlined]="true"
                    (onClick)="onReject()"
                    styleClass="w-32"
                  ></p-button>
                </div>
              </div>
            </ng-template>
          </p-confirmdialog>
          <p-button
            variant="text"
            [rounded]="true"
            severity="danger"
            (onClick)="delete(policy)"
            >Delete</p-button
          >
        </td>
      </tr>
    </ng-template>

    <ng-template #emptymessage>
      <tr>
        <td colspan="3" class="text-center p-4 text-gray-500">
          No policys found.
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
