<div class="card p-4 shadow-md rounded-xl bg-white">
  <p-table
    #dt1
    [value]="policies"
    [globalFilterFields]="[
      'id',
      'title',
      'description',
      'policyType',
      'companyId',
      'createdOn',
      'createdBy',
      'updatedOn',
      'updatedBy',
      'deletedOn',
      'deletedBy',
      'remark'
    ]"
    [tableStyle]="{ 'min-width': '100%' }"
    [paginator]="true"
    dataKey="id"
    [rows]="8"
    [rowsPerPageOptions]="[8, 15, 30]"
    class="p-datatable-striped p-datatable-gridlines"
    responsiveLayout="scroll"
  >
    <ng-template #caption>
      <div class="flex items-center justify-between mb-3">
        <p-button label="Create" routerLink="entry" class="p-button-primary">
          <i class="pi pi-plus"></i>
        </p-button>

        <p-iconfield iconPosition="left" class="w-80 mt-2 sm:mt-0">
          <p-inputicon>
            <i class="pi pi-search text-gray-400"></i>
          </p-inputicon>
          <input
            pInputText
            type="text"
            (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
            placeholder="       Search keyword"
            class="p-inputtext w-full border rounded-lg px-3 py-2"
          />
        </p-iconfield>
      </div>
    </ng-template>

    <ng-template #header>
      <tr class="bg-gray-100">
        <th class="p-3 text-left">ID</th>
        <th class="p-3 text-left">Title</th>
        <th class="p-3 text-left">description</th>
        <th class="p-3 text-left">Policy Type</th>
        <th class="p-3 text-left">Company ID</th>
        <th class="p-3 text-left">Created On</th>
        <th class="p-3 text-left">Created By</th>
        <th class="p-3 text-left">Updated On</th>
        <th class="p-3 text-left">Updated By</th>
        <th class="p-3 text-left">Deleted On</th>
        <th class="p-3 text-left">Deleted By</th>
        <th class="p-3 text-left">Remark</th>
        <th>Action</th>
      </tr>
      <tr>
        <th>
          <p-columnFilter
            type="text"
            field="id"
            placeholder="Search by ID"
            ariaLabel="Filter ID"
            class="w-full"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="title"
            placeholder="Search by title"
            ariaLabel="Filter title"
            class="w-full"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="description"
            placeholder="Search by description"
            ariaLabel="Filter description"
            class="w-full"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="policyType"
            placeholder="Search by policyType"
            ariaLabel="Filter policyType"
            class="w-full"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="companyId"
            placeholder="Search by companyId"
            ariaLabel="Filter companyId"
            class="w-full"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="createdOn"
            placeholder="Search by createdOn"
            ariaLabel="Filter createdOn"
            class="w-full"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="createdBy"
            placeholder="Search by createdBy"
            ariaLabel="Filter createdBy"
            class="w-full"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="updatedOn"
            placeholder="Search by updatedOn"
            ariaLabel="Filter updatedOn"
            class="w-full"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="updatedBy"
            placeholder="Search by updatedBy"
            ariaLabel="Filter updatedBy"
            class="w-full"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="deletedOn"
            placeholder="Search by deletedOn"
            ariaLabel="Filter deletedOn"
            class="w-full"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="deletedBy"
            placeholder="Search by deletedBy"
            ariaLabel="Filter deletedBy"
            class="w-full"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="remark"
            placeholder="Search by remark"
            ariaLabel="Filter remark"
            class="w-full"
          ></p-columnFilter>
        </th>
      </tr>
    </ng-template>

    <ng-template #body let-policy>
      <tr class="hover:bg-gray-50 transition odd:bg-white even:bg-slate-50">
        <td class="p-3 border-b">{{ policy.id }}</td>
        <td class="p-3 border-b">{{ policy.title }}</td>
        <td class="p-3 border-b">{{ policy.policyNameMm }}</td>
        <td class="p-3 border-b">{{ policy.policyType }}</td>
        <td class="p-3 border-b">{{ policy.companyId }}</td>
        <td class="p-3 border-b">{{ policy.createdOn }}</td>
        <td class="p-3 border-b">{{ policy.createdBy }}</td>
        <td class="p-3 border-b">{{ policy.updatedOn }}</td>
        <td class="p-3 border-b">{{ policy.updatedBy }}</td>
        <td class="p-3 border-b">{{ policy.deletedOn }}</td>
        <td class="p-3 border-b">{{ policy.deletedBy }}</td>
        <td class="p-3 border-b">{{ policy.remark }}</td>
        <td>
          <p-button (onClick)="update(policy)">Edit</p-button>
          <p-button (onClick)="delete(policy)">Delete</p-button>
        </td>
      </tr>
    </ng-template>

    <ng-template #emptymessage>
      <tr>
        <td colspan="3" class="text-center p-4 text-gray-500">
          No policys found.
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
