<div class="p-8">
  <form [formGroup]="policyForm" (submit)="submit()">
    <div class="grid grid-cols-12 gap-2">
      <div class="col-span-12 flex flex-col gap-2">
        <label for="">Id</label>
        <input pInputText formControlName="id" type="number" />
      </div>
      <div class="col-span-12 flex flex-col gap-2">
        <label for="">Title</label>
        <input pInputText formControlName="title" type="text" />
      </div>
      <div class="col-span-12 flex flex-col gap-2">
        <label for="">Description</label>
        <input pInputText formControlName="description" type="text" />
      </div>
      <div class="col-span-12 flex flex-col gap-2">
        <label for="">Policy Type</label>
        <input pInputText formControlName="policyType" type="number" />
      </div>
      <div class="col-span-12 flex flex-col gap-2">
        <label for="">Company Id</label>
        <input pInputText formControlName="companyId" type="text" />
      </div>
      <div class="col-span-12 flex flex-col gap-2">
        <label for="">CreatedOn</label>
        <input pInputText formControlName="createdOn" type="text" />
      </div>
      <div class="col-span-12 flex flex-col gap-2">
        <label for="">CreatedBy</label>
        <input pInputText formControlName="createdBy" type="text" />
      </div>
      <div class="col-span-12 flex flex-col gap-2">
        <label for="">UpdatedOn</label>
        <input pInputText formControlName="updatedOn" type="text" />
      </div>
      <div class="col-span-12 flex flex-col gap-2">
        <label for="">UpdatedBy</label>
        <input pInputText formControlName="updatedBy" type="text" />
      </div>
      <div class="col-span-12 flex flex-col gap-2">
        <label for="">DeletedOn</label>
        <input pInputText formControlName="deletedOn" type="text" />
      </div>
      <div class="col-span-12 flex flex-col gap-2">
        <label for="">DeletedBy</label>
        <input pInputText formControlName="deletedBy" type="text" />
      </div>
      <div class="col-span-12 flex flex-col gap-2">
        <label for="">Remark</label>
        <input pInputText formControlName="remark" type="text" />
      </div>
      <div class="col-span-12">
        <button pButton type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>
