<p-toast key="globalMessage"></p-toast>
<!-- Add this at the top to show notifications -->

<div class="p-8 max-w-4xl mx-auto bg-white shadow-lg rounded-lg">
  <h2 class="text-2xl font-bold text-gray-700 mb-6">Policy Form</h2>

  <form [formGroup]="allowanceForm" (ngSubmit)="submit()" class="space-y-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <!-- <div class="flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Allowance ID</label>
        <input
          pInputText
          formControlName="allowanceId"
          type="number"
          class="p-2 border rounded-md"
        />
      </div> -->

      <div class="md:col-span-2 flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Company Id</label>
        <input
          pInputTextarea
          formControlName="companyId"
          type="text"
          class="p-2 border rounded-md"
        />
      </div>

      <div class="flex flex-col gap-1">
        <label class="text-gray-600 font-medium">branch Id</label>
        <input
          pInputText
          formControlName="branchId"
          type="number"
          class="p-2 border rounded-md"
        />
        <small
          *ngIf="
            allowanceForm.controls['branchId'].invalid &&
            allowanceForm.get('branchId')?.dirty
          "
          class="p-text"
        >
          branch Is Required.
        </small>
      </div>

      <div class="flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Dept Id</label>
        <input
          pInputText
          formControlName="deptId"
          type="number"
          class="p-2 border rounded-md"
        />
        <small
          *ngIf="
            allowanceForm.controls['deptId'].invalid &&
            allowanceForm.get('deptId')?.dirty
          "
          class="p-text"
        >
          Department Is Required.
        </small>
      </div>

      <div class="flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Position Id</label>
        <input
          pInputText
          formControlName="positionId"
          type="text"
          class="p-2 border rounded-md"
        />
        <small
          *ngIf="
            allowanceForm.controls['positionId'].invalid &&
            allowanceForm.get('positionId')?.dirty
          "
          class="p-text"
        >
          Position Is Required.
        </small>
      </div>

      <div class="flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Aallowance Name</label>
        <input
          pInputText
          formControlName="allowanceName"
          type="text"
          class="p-2 border rounded-md"
        />
        <small
          *ngIf="
            allowanceForm.controls['allowanceName'].invalid &&
            allowanceForm.get('allowanceName')?.dirty
          "
          class="p-text"
        >
          Allowance Name Is Required
        </small>
      </div>

      <div class="md:col-span-2 flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Description</label>
        <textarea
          pInputTextarea
          formControlName="description"
          rows="3"
          class="p-2 border rounded-md"
        ></textarea>
      </div>

      <div class="flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Status</label>
        <p-toggleswitch formControlName="status" />
      </div>

      <!-- <div class="flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Created On</label>
        <input
          pInputText
          formControlName="createdOn"
          type="date"
          class="p-2 border rounded-md"
        />
      </div>

      <div class="flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Created By</label>
        <input
          pInputText
          formControlName="createdBy"
          type="text"
          class="p-2 border rounded-md"
        />
      </div>

      <div class="flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Updated On</label>
        <input
          pInputText
          formControlName="updatedOn"
          type="date"
          class="p-2 border rounded-md"
        />
      </div>

      <div class="flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Updated By</label>
        <input
          pInputText
          formControlName="updatedBy"
          type="text"
          class="p-2 border rounded-md"
        />
      </div>

      <div class="flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Deleted On</label>
        <input
          pInputText
          formControlName="deletedOn"
          type="date"
          class="p-2 border rounded-md"
        />
      </div>

      <div class="flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Deleted By</label>
        <input
          pInputText
          formControlName="deletedBy"
          type="text"
          class="p-2 border rounded-md"
        />
      </div> -->

      <div class="md:col-span-2 flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Remark</label>
        <textarea
          pInputTextarea
          formControlName="remark"
          rows="3"
          class="p-2 border rounded-md"
        ></textarea>
      </div>
    </div>

    <!-- <div class="md:col-span-2 flex flex-col gap-1">
      <label class="text-gray-600 font-medium">Email</label>
      <input
        pInputText
        formControlName="email"
        type="text"
        class="p-2 border rounded-md"
      />
      <small
        *ngIf="
          allowanceForm.controls['email'].invalid &&
          allowanceForm.get('email')?.dirty &&
          allowanceForm.get('email')?.touched
        "
        class="p-text"
      >
        Email format is invalid.
      </small>
    </div>

    <div class="md:col-span-2 flex flex-col gap-1">
      <label class="text-gray-600 font-medium">Phone</label>
      <input
        pInputText
        formControlName="phoneNumber"
        type="text"
        class="p-2 border rounded-md"
      />
      <small
        *ngIf="
          allowanceForm.controls['phoneNumber'].invalid &&
          allowanceForm.get('phoneNumber')?.dirty &&
          allowanceForm.get('phoneNumber')?.touched
        "
        class="p-text"
      >
        Phone format is invalid.
      </small>
    </div>

    <div class="md:col-span-2 flex flex-col gap-1">
      <label class="text-gray-600 font-medium">Password</label>
      <input
        pInputTextarea
        formControlName="password"
        type="text"
        class="p-2 border rounded-md"
      />
      <small
        *ngIf="
          allowanceForm.controls['password'].invalid &&
          allowanceForm.get('password')?.dirty &&
          allowanceForm.get('password')?.untouched
        "
        class="p-text"
      >
        Password is require.
      </small>
      <small
        *ngIf="
          allowanceForm.controls['password'].invalid &&
          allowanceForm.get('password')?.dirty &&
          allowanceForm.get('password')?.touched
        "
        class="p-text"
      >
        Password format is invalid.
      </small>
    </div> -->

    <div class="text-center mt-6">
      <button
        pButton
        type="submit"
        class="bg-teal-500 hover:bg-teal-600 text-white font-bold py-2 px-6 rounded-lg shadow-md transition-all"
      >
        Submit
      </button>
    </div>
  </form>
</div>
