<p-toast key="globalMessage"></p-toast>

<div class="p-8 max-w-4xl mx-auto bg-white shadow-lg rounded-lg">
  <h2 class="text-2xl font-bold text-gray-700 mb-6">Deduction Form</h2>

  <form [formGroup]="deductionForm" (ngSubmit)="submit()" class="space-y-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <!-- #region Deduction Name -->
      <div class="flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Deduction Name</label>
        <input
          pInputText
          formControlName="deductionName"
          type="text"
          class="p-2 border rounded-md"
        />
        <small
          *ngIf="
            deductionForm.controls['deductionName'].invalid &&
            deductionForm.get('deductionName')?.dirty
          "
          class="p-text text-red-600"
        >
          Deduction Name is required.
        </small>
      </div>
      <!-- #endregion Deduction Name -->

      <!-- #region Company Id -->
      <div class="flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Company</label>
        <p-select
          [options]="companies"
          [(ngModel)]="selectedCompany"
          (onChange)="onCompanyChange()"
          optionLabel="companyName"
          dataKey="companyId"
          placeholder="Select a Company"
          [ngModelOptions]="{ standalone: true }"
          [filter]="true"
          [showClear]="true"
          [ngClass]="{
            'ng-dirty ng-invalid':
              deductionForm.controls['companyId'].invalid &&
              deductionForm.get('companyId')?.dirty
          }"
        ></p-select>
        <small
          *ngIf="
            deductionForm.controls['companyId'].invalid &&
            deductionForm.get('companyId')?.dirty
          "
          class="p-text text-red-600"
        >
          Company is required.
        </small>
      </div>
      <!-- #endregion Company Id -->

      <!-- #region Branch Id -->
      <div class="flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Branch</label>
        <p-select
          [options]="branches"
          [(ngModel)]="selectedBranch"
          (onChange)="onBranchChange()"
          optionLabel="branchName"
          dataKey="branchId"
          placeholder="Select a Branch"
          [ngModelOptions]="{ standalone: true }"
          [filter]="true"
          [showClear]="true"
          [ngClass]="{
            'ng-dirty ng-invalid':
              deductionForm.controls['branchId'].invalid &&
              deductionForm.get('branchId')?.dirty
          }"
        ></p-select>
        <small
          *ngIf="
            deductionForm.controls['branchId'].invalid &&
            deductionForm.get('branchId')?.dirty
          "
          class="p-text text-red-600"
        >
          Branch is required.
        </small>
      </div>
      <!-- #endregion Branch Id -->

      <!-- #region Department Id -->
      <div class="flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Department</label>
        <p-select
          [options]="depts"
          [(ngModel)]="selectedDept"
          (onChange)="onDeptChange()"
          optionLabel="deptName"
          dataKey="deptId"
          placeholder="Select a Department"
          [ngModelOptions]="{ standalone: true }"
          [filter]="true"
          [showClear]="true"
          [ngClass]="{
            'ng-dirty ng-invalid':
              deductionForm.controls['deptId'].invalid &&
              deductionForm.get('deptId')?.dirty
          }"
        ></p-select>
        <small
          *ngIf="
            deductionForm.controls['deptId'].invalid &&
            deductionForm.get('deptId')?.dirty
          "
          class="p-text text-red-600"
        >
          Department is required.
        </small>
      </div>
      <!-- #endregion Department Id -->

      <!-- #region Description -->
      <div class="md:col-span-2 flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Description</label>
        <p-editor
          formControlName="description"
          [style]="{ height: '320px' }"
        ></p-editor>
      </div>
      <!-- #endregion Description -->

      <!-- #region Is Default -->
      <div class="flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Is Default</label>
        <p-toggleswitch formControlName="isDefault" />
      </div>
      <!-- #endregion Is Default -->

      <!-- #region Status -->
      <div class="flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Status</label>
        <p-toggleSwitch
          formControlName="Status"
          onLabel="Open"
          offLabel="Closed"
        ></p-toggleSwitch>
      </div>
      <!-- #endregion Status -->

      <!-- #region Remark -->
      <div class="md:col-span-2 flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Remark</label>
        <textarea
          pInputTextarea
          formControlName="remark"
          rows="3"
          class="p-2 border rounded-md"
        ></textarea>
      </div>
      <!-- #endregion Remark -->
    </div>

    <!-- #region Submit Button -->
    <div class="text-center mt-6">
      <button
        pButton
        icon="pi pi-check"
        [disabled]="isSubmitting"
        [loading]="isSubmitting"
        label="Submit"
        type="submit"
        class="bg-teal-500 hover:bg-teal-600 text-white font-bold py-2 px-6 rounded-lg shadow-md transition-all"
      ></button>
    </div>
    <!-- #endregion Submit Button -->
  </form>
</div>
