<p-toast key="globalMessage"></p-toast>
<!-- Add this at the top to show notifications -->

<div class="p-8 max-w-4xl mx-auto bg-white shadow-lg rounded-lg">
  <h2 class="text-2xl font-bold text-gray-700 mb-6">Deduction Form</h2>

  <form [formGroup]="deductionForm" (ngSubmit)="submit()" class="space-y-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <!-- <div class="flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Allowance ID</label>
        <input
          pInputText
          formControlName="allowanceId"
          type="number"
          class="p-2 border rounded-md"
        />
      </div> -->

      <div class="flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Deduction Name</label>
        <input
          pInputText
          formControlName="deductionName"
          type="text"
          class="p-2 border rounded-md"
        />
        <small
          *ngIf="
            deductionForm.controls['deductionName'].invalid &&
            deductionForm.get('deductionName')?.dirty
          "
          class="p-text"
        >
          Deduction Name Is Required
        </small>
      </div>

      <div class="flex flex-col gap">
        <label class="text-gray-600 font-medium">Company Id</label>
        <!-- <input
          pInputTextarea
          formControlName="companyId"
          type="text"
          class="p-2 border rounded-md"
        /> -->

        <p-select
          [options]="companies"
          [(ngModel)]="selectedCompany"
          (onChange)="onCompanyChange()"
          optionLabel="companyName"
          dataKey="companyId"
          placeholder="Select a Company"
          [ngModelOptions]="{ standalone: true }"
          [filter]="true"
          filterBy="deptName"
          [showClear]="true"
          [ngClass]="{
            'ng-dirty ng-invalid':
              deductionForm.controls['branchId'].invalid &&
              deductionForm.get('branchId')?.dirty
          }"
        >
        </p-select>
        <small
          *ngIf="
            deductionForm.controls['companyId'].invalid &&
            deductionForm.get('companyId')?.dirty
          "
          class="p-text text-red-600"
        >
          company Is Required.
        </small>
      </div>

      <div class="flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Branch Id</label>
        <p-select
          [options]="branches"
          [(ngModel)]="selectedBranch"
          (onChange)="onBranchChange()"
          optionLabel="branchName"
          dataKey="branchId"
          placeholder="Select a branch"
          [ngModelOptions]="{ standalone: true }"
          [filter]="true"
          filterBy="deptName"
          [showClear]="true"
          [ngClass]="{
            'ng-dirty ng-invalid':
              deductionForm.controls['branchId'].invalid &&
              deductionForm.get('branchId')?.dirty
          }"
        >
        </p-select>
        <small
          *ngIf="
            deductionForm.controls['branchId'].invalid &&
            deductionForm.get('branchId')?.dirty
          "
          class="p-text text-red-600"
        >
          branch Is Required.
        </small>
      </div>

      <div class="flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Dept Id</label>
        <!-- <input
          pInputText
          formControlName="deptId"
          type="number"
          class="p-2 border rounded-md"
        /> -->

        <p-select
          [options]="depts"
          [(ngModel)]="selectedDept"
          (onChange)="onDeptChange()"
          optionLabel="deptName"
          dataKey="deptId"
          placeholder="Select a Department"
          [ngModelOptions]="{ standalone: true }"
          [filter]="true"
          filterBy="deptName"
          [showClear]="true"
          [ngClass]="{
            'ng-dirty ng-invalid':
              deductionForm.controls['deptId'].invalid &&
              deductionForm.get('deptId')?.dirty
          }"
        >
        </p-select>
        <small
          *ngIf="
            deductionForm.controls['deptId'].invalid &&
            deductionForm.get('deptId')?.dirty
          "
          class="p-text text-red-600"
        >
          Department Is Required.
        </small>
      </div>

      <div class="md:col-span-2 flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Description</label>
        <p-editor
          formControlName="description"
          [style]="{ height: '320px' }"
        ></p-editor>
      </div>

      <!-- <div class="md:col-span-2 flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Description</label>

        <textarea
          pInputTextarea
          formControlName="description"
          rows="3"
          class="p-2 border rounded-md"
        ></textarea>
      </div> -->

      <div class="flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Is Default</label>
        <p-toggleswitch formControlName="isDefault" />
      </div>

      <div class="flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Status</label>
        <p-toggleswitch formControlName="status" />
      </div>

      <div class="md:col-span-2 flex flex-col gap-1">
        <label class="text-gray-600 font-medium">Remark</label>
        <textarea
          pInputTextarea
          formControlName="remark"
          rows="3"
          class="p-2 border rounded-md"
        ></textarea>
      </div>
    </div>

    <div class="text-center mt-6">
      <button
        pButton
        icon="pi pi-check"
        [disabled]="isSubmitting"
        [loading]="isSubmitting"
        label="Submit"
        type="submit"
        class="bg-teal-500 hover:bg-teal-600 text-white font-bold py-2 px-6 rounded-lg shadow-md transition-all"
      ></button>
    </div>
  </form>
</div>
