<p-toast position="top-right"></p-toast>
<h1 class="text-4xl font-bold text-center mb-8">Department List</h1>
<div class="card">
  <p-table
    #dt1
    [value]="departments"
    [tableStyle]="{ 'min-width': '50rem' }"
    [scrollable]="true"
    [globalFilterFields]="[
      'deptId',
      'deptName',
      'branchId',
      'branchName',
      'companyId',
      'companyName',
      'status',
      'createdOn',
      'createdBy',
      'updatedOn',
      'updatedBy',
      'deletedOn',
      'deletedBy',
      'remark'
    ]"
    [paginator]="true"
    dataKey="deptId"
    [rows]="8"
    showGridlines
    [rowsPerPageOptions]="[8, 15, 30]"
  >
    <ng-template #caption>
      <div class="flex items-center justify-between mb-3">
        <p-button
          icon="pi pi-plus"
          label="Create"
          routerLink="entry"
          class="p-button-primary"
        >
        </p-button>

        <p-iconfield
          icon="pi pi-check"
          iconPosition="left"
          class="w-80 mt-2 sm:mt-0"
        >
          <input
            pInputText
            type="text"
            (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
            pInputText
            placeholder="Search"
            class="p-inputtext w-full border rounded-lg px-3 py-2"
          />
        </p-iconfield>
      </div>
    </ng-template>

    <ng-template #header>
      <tr class="bg-gray-100 whitespace-nowrap">
        <th pSortableColumn="deptId">
          DepartmentID
          <p-sortIcon field="deptId" />
        </th>

        <th pSortableColumn="deptName">
          Department Name
          <p-sortIcon field="deptName" />
        </th>

        <th pSortableColumn="branchId">
          Branch ID
          <p-sortIcon field="branchId" />
        </th>

        <th pSortableColumn="branchName">
          Branch Name
          <p-sortIcon field="branchName" />
        </th>

        <th pSortableColumn="companyId">
          companyId
          <p-sortIcon field="companyId" />
        </th>

        <th pSortableColumn="companyName">
          companyName
          <p-sortIcon field="companyName" />
        </th>

        <th pSortableColumn="status">
          Status
          <p-sortIcon field="status" />
        </th>

        <th pSortableColumn="createdOn">
          Created On
          <p-sortIcon field="createdOn" />
        </th>
        <th pSortableColumn="createdBy">
          Created By
          <p-sortIcon field="createdBy" />
        </th>
        <th pSortableColumn="updatedOn">
          Updated On
          <p-sortIcon field="updatedOn" />
        </th>
        <th pSortableColumn="updatedBy">
          Updated By
          <p-sortIcon field="updatedBy" />
        </th>
        <th pSortableColumn="deletedOn">
          Deleted On
          <p-sortIcon field="deletedOn" />
        </th>
        <th pSortableColumn="deletedBy">
          Deleted By
          <p-sortIcon field="deletedBy" />
        </th>
        <th pSortableColumn="remark">
          Remark
          <p-sortIcon field="remark" />
        </th>

        <th>Action</th>
      </tr>
    </ng-template>

    <ng-template #body let-department>
      <tr class="whitespace-nowrap">
        <td>{{ department.deptId }}</td>
        <td>{{ department.deptName }}</td>
        <td>{{ department.branchId }}</td>
        <td>{{ department.branchName }}</td>
        <td>{{ department.companyId }}</td>
        <td>{{ department.companyName }}</td>
        <td>
          <p-tag
            [value]="department.status"
            [severity]="getSeverity(department.status)"
          />
        </td>
        <td>{{ department.createdOn }}</td>
        <td>{{ department.createdBy }}</td>
        <td>{{ department.updatedOn }}</td>
        <td>{{ department.updatedBy }}</td>
        <td>{{ department.deletedOn }}</td>
        <td>{{ department.deletedBy }}</td>
        <td>{{ department.remark }}</td>

        <td>
          <p-button variant="text" (onClick)="update(department)"
            >Edit</p-button
          >
          <p-button
            variant="text"
            [rounded]="true"
            severity="danger"
            (onClick)="delete(department)"
            >Delete</p-button
          >
        </td>
      </tr>
    </ng-template>

    <ng-template #emptymessage>
      <tr>
        <td colspan="3" class="text-center p-4 text-gray-500">
          No departments found.
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
