<p-toast position="top-right"></p-toast>
<h1 class="text-4xl font-bold text-center mb-8">Allowance List</h1>
<div class="container mx-auto mt-10">
  <div class="grid grid-cols-4 gap-4 mb-6 text-center">
    <div class="bg-white p-6 rounded shadow">
      <h3 class="text-2xl font-semibold">{{ totalAllowances }}</h3>
      <span class="text-gray-600">Total Allowances</span>
    </div>
    <div class="bg-white p-6 rounded shadow">
      <h3 class="text-2xl font-semibold">{{ mostCommonCompanyId }}</h3>
      <span class="text-gray-600">Most Common Company ID</span>
    </div>
    <div class="bg-white p-6 rounded shadow">
      <h3 class="text-2xl font-semibold">{{ trueStatusCount }}</h3>
      <span class="text-gray-600">Total True Status</span>
    </div>
    <div class="bg-white p-6 rounded shadow">
      <h3 class="text-2xl font-semibold">{{ falseStatusCount }}</h3>
      <span class="text-gray-600">Total False Status</span>
    </div>
  </div>
</div>
<div class="card">
  <p-table
    #dt1
    [value]="allowances"
    [tableStyle]="{ 'min-width': '50rem' }"
    [scrollable]="true"
    [globalFilterFields]="[
      'allowanceId',
      'companyId',
      'branchId',
      'deptId',
      'positionId',
      'allowanceName',
      'description',
      'status',
      'createdOn',
      'createdBy',
      'updatedOn',
      'updatedBy',
      'deletedOn',
      'deletedBy',
      'remark'
    ]"
    [paginator]="true"
    dataKey="allowanceId"
    [rows]="8"
    showGridlines
    [rowsPerPageOptions]="[8, 15, 30]"
  >
    <ng-template #caption>
      <div class="flex items-center justify-between mb-3">
        <p-button
          icon="pi pi-plus"
          label="Create"
          routerLink="entry"
          class="p-button-primary"
        >
        </p-button>

        <p-iconfield
          icon="pi pi-check"
          iconPosition="left"
          class="w-80 mt-2 sm:mt-0"
        >
          <input
            pInputText
            type="text"
            (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
            pInputText
            placeholder="Search"
            class="p-inputtext w-full border rounded-lg px-3 py-2"
          />
        </p-iconfield>
      </div>
    </ng-template>

    <ng-template #header>
      <tr class="bg-gray-100 whitespace-nowrap">
        <!-- <th pSortableColumn="allowanceId">
          Allowance ID
          <p-sortIcon field="allowanceId" />
        </th> -->
        <th pSortableColumn="companyId">
          Company ID
          <p-sortIcon field="companyId" />
        </th>
        <th pSortableColumn="branchId">
          Branch ID
          <p-sortIcon field="branchId" />
        </th>
        <th pSortableColumn="deptId">
          Dept ID
          <p-sortIcon field="deptId" />
        </th>
        <th pSortableColumn="positionId">
          Position ID
          <p-sortIcon field="positionId" />
        </th>
        <th pSortableColumn="allowanceName">
          Allowance Name
          <p-sortIcon field="allowanceName" />
        </th>
        <th pSortableColumn="description">
          Description
          <p-sortIcon field="description" />
        </th>
        <th pSortableColumn="status">
          Status
          <p-sortIcon field="status" />
        </th>
        <th pSortableColumn="createdOn">
          Created On
          <p-sortIcon field="createdOn" />
        </th>
        <th pSortableColumn="createdBy">
          Created By
          <p-sortIcon field="createdBy" />
        </th>
        <th pSortableColumn="updatedOn">
          Updated On
          <p-sortIcon field="updatedOn" />
        </th>
        <th pSortableColumn="updatedBy">
          Updated By
          <p-sortIcon field="updatedBy" />
        </th>
        <th pSortableColumn="deletedOn">
          Deleted On
          <p-sortIcon field="deletedOn" />
        </th>
        <th pSortableColumn="deletedBy">
          Deleted By
          <p-sortIcon field="deletedBy" />
        </th>
        <th pSortableColumn="remark">
          Remark
          <p-sortIcon field="remark" />
        </th>
        <th>Action</th>
      </tr>
    </ng-template>

    <ng-template #body let-allowance>
      <tr class="whitespace-nowrap">
        <!-- <td>{{ allowance.allowanceId }}</td> -->
        <td>{{ allowance.companyId }}</td>
        <td>{{ allowance.branchId }}</td>
        <td>{{ allowance.deptId }}</td>
        <td>{{ allowance.positionId }}</td>
        <td>{{ allowance.allowanceName }}</td>
        <td><div [innerHTML]="allowance.description"></div></td>
        <td>
          <p-tag
            [value]="allowance.status"
            [severity]="getSeverity(allowance.status)"
          />
        </td>
        <td>{{ allowance.createdOn }}</td>
        <td>{{ allowance.createdBy }}</td>
        <td>{{ allowance.updatedOn }}</td>
        <td>{{ allowance.updatedBy }}</td>
        <td>{{ allowance.deletedOn }}</td>
        <td>{{ allowance.deletedBy }}</td>
        <td>{{ allowance.remark }}</td>
        <td>
          <p-button variant="text" (onClick)="update(allowance)">Edit</p-button>
          <p-button
            variant="text"
            [rounded]="true"
            severity="danger"
            (onClick)="delete(allowance)"
            >Delete</p-button
          >
        </td>
      </tr>
    </ng-template>

    <ng-template #emptymessage>
      <tr>
        <td colspan="3" class="text-center p-4 text-gray-500">
          No allowances found.
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
