<p-toast position="top-right"></p-toast>
<h1 class="text-4xl text-center mb-8 font-extralight">jobOpening List</h1>

<div class="card w-full overflow-x-auto">
  <div *ngIf="isloading">
    <p-skeleton width="100%" height="200px"></p-skeleton>
  </div>

  <div *ngIf="!isloading">
    <p-table
      #dt1
      [value]="jobOpening"
      [tableStyle]="{ 'min-width': '50rem' }"
      [scrollable]="true"
      [globalFilterFields]="[
        'id',
        'title',
        'description',
        'noOfApplicants',
        'startOn',
        'endOn',
        'companyName',
        'branchName',
        'deptName',
        'positionName',
        'openingStatus',
        'createdOn',
        'createdBy',
        'updatedOn',
        'updatedBy',
        'deletedOn',
        'deletedBy',
        'remark'
      ]"
      [paginator]="true"
      dataKey="id"
      [rows]="8"
      [(selection)]="selectedJobOpeing"
      showGridlines
      [rowsPerPageOptions]="[8, 15, 30]"
      class="w-full"
    >
      <ng-template #caption>
        <div
          class="flex flex-col sm:flex-row items-center justify-between mb-3 gap-3"
        >
          <p-button
            icon="pi pi-plus"
            label="Create"
            routerLink="entry"
            class="w-full sm:w-auto p-button-primary"
            [rounded]="true"
            [outlined]="true"
          />

          <div class="relative w-full sm:w-80 border rounded-lg">
            <i
              class="pi pi-search absolute inset-y-4 start-0 flex items-center ps-3 text-gray-500"
            ></i>
            <input
              type="search"
              id="default-search"
              class="block w-full p-4 ps-10 text-sm text-gray-900 border-gray-300 rounded-lg bg-gray-50"
              (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Search keyword"
            />
          </div>
        </div>
      </ng-template>

      <ng-template #header>
        <tr class="bg-gray-100 whitespace-nowrap text-xs sm:text-sm">
          <!-- <th pSortableColumn="id">
          jobOpening ID
          <p-sortIcon field="id" />
        </th> -->
          <th pSortableColumn="title">
            title
            <p-sortIcon field="title" />
          </th>

          <th pSortableColumn="description">
            description
            <p-sortIcon field="description" />
          </th>

          <th pSortableColumn="noOfApplicants">
            noOfApplicants
            <p-sortIcon field="noOfApplicants" />
          </th>

          <th pSortableColumn="startOn">
            startOn
            <p-sortIcon field="startOn" />
          </th>

          <th pSortableColumn="endOn">
            endOn
            <p-sortIcon field="endOn" />
          </th>

          <th pSortableColumn="companyName">
            Company Name
            <p-sortIcon field="companyName" />
          </th>

          <th pSortableColumn="branchName">
            Branch Name
            <p-sortIcon field="branchName" />
          </th>

          <th pSortableColumn="deptName">
            Dept Name
            <p-sortIcon field="deptName" />
          </th>

          <th pSortableColumn="positionName">
            Position Name
            <p-sortIcon field="positionName" />
          </th>

          <th pSortableColumn="openingStatus">
            openingStatus
            <p-sortIcon field="openingStatus" />
          </th>

          <th pSortableColumn="createdOn">
            Created On
            <p-sortIcon field="createdOn" />
          </th>

          <th pSortableColumn="createdBy">
            Created By
            <p-sortIcon field="createdBy" />
          </th>

          <th pSortableColumn="updatedOn">
            Updated On
            <p-sortIcon field="updatedOn" />
          </th>

          <th pSortableColumn="updatedBy">
            Updated By
            <p-sortIcon field="updatedBy" />
          </th>

          <th pSortableColumn="remark">
            Remark
            <p-sortIcon field="remark" />
          </th>

          <th pFrozenColumn alignFrozen="right">Action</th>
        </tr>
      </ng-template>

      <ng-template #body let-jobOpening>
        <tr class="whitespace-nowrap text-xs sm:text-sm" *ngIf="jobOpening">
          <!-- <td>{{ jobOpening.id }}</td> -->
          <td class="hidden sm:table-cell">
            {{ jobOpening.title }}
          </td>
          <td class="hidden sm:table-cell">
            <div [innerHTML]="jobOpening.description"></div>
          </td>
          <td class="hidden sm:table-cell">{{ jobOpening.noOfApplicants }}</td>
          <td class="hidden sm:table-cell">{{ jobOpening.startOn }}</td>
          <td class="hidden sm:table-cell">{{ jobOpening.endOn }}</td>
          <td class="hidden sm:table-cell">{{ jobOpening.companyName }}</td>
          <td class="hidden sm:table-cell">{{ jobOpening.branchName }}</td>
          <td class="hidden sm:table-cell">{{ jobOpening.deptName }}</td>
          <td class="hidden sm:table-cell">{{ jobOpening.positionName }}</td>
          <td>
            <p-tag
              [value]="jobOpening.openingStatus"
              [severity]="getSeverity(jobOpening.openingStatus)"
            />
          </td>
          <td class="hidden sm:table-cell">{{ jobOpening.createdOn }}</td>
          <td class="hidden sm:table-cell">{{ jobOpening.createdBy }}</td>
          <td class="hidden sm:table-cell">{{ jobOpening.updatedOn }}</td>
          <td class="hidden sm:table-cell">{{ jobOpening.updatedBy }}</td>
          <td class="hidden sm:table-cell">{{ jobOpening.remark }}</td>
          <td pFrozenColumn="action" alignFrozen="right">
            <p-button
              icon="pi pi-pencil"
              class="mr-2"
              [rounded]="true"
              [outlined]="true"
              (onClick)="update(jobOpening)"
            />

            <p-button
              icon="pi pi-trash"
              severity="danger"
              [rounded]="true"
              [outlined]="true"
              (onClick)="delete(jobOpening)"
            />
          </td>
        </tr>
      </ng-template>

      <ng-template #emptymessage>
        <tr>
          <td colspan="5" class="text-center p-4 text-gray-500">
            No jobOpenings found.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-confirmdialog key="positionDialog" position="bottom" />
