/* You can add global styles to this file, and also import other style files */
@layer tailwind-base, primeng, tailwind-utilities;
@import "primeicons/primeicons.css";

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

.app-dark {
  // Apply dark mode styles for PrimeNG
  --surface-a: #1e1e1e; // Background
  --surface-b: #222; // Panel Background
  --text-color: #fff; // Text color
}

.app-dark,
.app-dark p-table,
.app-dark .form,
.app-dark form,
.app-dark h2,
.app-dark label,
.app-dark input,
.app-dark p-select,
.app-dark p-editor,
.app-dark textarea {
  background-color: var(--surface-a);
  color: var(--text-color);
}

.app-dark p-button {
  background-color: var(--surface-a);
  border-color: #555;
}

.app-dark p-button:hover {
  background-color: #555;
}

// Override table styles for dark mode
.app-dark .p-datatable {
  background-color: var(--surface-a);
  color: var(--text-color);
}

.app-dark .p-datatable th,
.app-dark .p-datatable td {
  background-color: var(--surface-b);
  color: var(--text-color);
}

.app-dark .p-button {
  background-color: var(--surface-b);
  color: var(--text-color);
}
