/* You can add global styles to this file, and also import other style files */
@layer tailwind-base, primeng, tailwind-utilities;
@import "primeicons/primeicons.css";

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode p-button {
  background-color: #333;
  border-color: #555;
}

.dark-mode p-button:hover {
  background-color: #555;
}
