<div class="card p-4 shadow-md rounded-xl bg-white">
  <p-table
    #dt1
    [value]="states"
    [globalFilterFields]="['stateId', 'stateName', 'stateNameMm']"
    [tableStyle]="{ 'min-width': '100%' }"
    [paginator]="true"
    dataKey="stateId"
    [rows]="8"
    [rowsPerPageOptions]="[8, 15, 30]"
    class="p-datatable-striped p-datatable-gridlines"
    responsiveLayout="scroll"
    [scrollable]="true"
    scrollHeight="660px"
    [virtualScroll]="true"
    [virtualScrollItemSize]="46"
  >
    <ng-template #caption>
      <div class="flex items-center justify-between mb-3">
        <p-button label="Create" routerLink="entry" class="p-button-primary">
          <i class="pi pi-plus"></i>
        </p-button>

        <p-iconfield iconPosition="left" class="w-80 mt-2 sm:mt-0">
          <p-inputicon>
            <i class="pi pi-search text-gray-400"></i>
          </p-inputicon>
          <input
            pInputText
            type="text"
            (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
            placeholder="       Search keyword"
            class="p-inputtext w-full border rounded-lg px-3 py-2"
          />
        </p-iconfield>
      </div>
    </ng-template>

    <ng-template #header>
      <tr class="bg-gray-100">
        <th class="p-3 text-left">ID</th>
        <th class="p-3 text-left">Name</th>
        <th class="p-3 text-left">Name Mm</th>
        <th>Action</th>
      </tr>
      <tr>
        <th>
          <p-columnFilter
            type="text"
            field="stateId"
            placeholder="Search by ID"
            ariaLabel="Filter ID"
            class="w-full"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="stateName"
            placeholder="Search by name"
            ariaLabel="Filter Name"
            class="w-full"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="stateNameMm"
            placeholder="Search by Name Mm"
            ariaLabel="Filter NameMm"
            class="w-full"
          ></p-columnFilter>
        </th>
      </tr>
    </ng-template>

    <ng-template #body let-state>
      <tr class="hover:bg-gray-50 transition odd:bg-white even:bg-slate-50">
        <td class="p-3 border-b">{{ state.stateId }}</td>
        <td class="p-3 border-b">{{ state.stateName }}</td>
        <td class="p-3 border-b">{{ state.stateNameMm }}</td>

        <td>
          <p-button (onClick)="update(state)">Edit</p-button>
          <p-button (onClick)="delete(state)">Delete</p-button>
        </td>
      </tr>
    </ng-template>

    <ng-template #emptymessage>
      <tr>
        <td colspan="3" class="text-center p-4 text-gray-500">
          No states found.
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
